@{
    ViewData["Title"] = "Home Page";
}

@using Syncfusion.EJ2

<div>
    <h2>Remote TreeGrid with Row Drag & Drop</h2> 
    <div id="TreeGrid"></div>
</div>

<script>
    // Inject required TreeGrid services
    ej.treegrid.TreeGrid.Inject(
        ej.treegrid.Edit,
        ej.treegrid.Toolbar,
        ej.treegrid.RowDD
    );

    // Remote DataManager configuration
    var dataManager = new ej.data.DataManager({
        adaptor: new ej.data.UrlAdaptor(),
        url: "http://localhost:5077/Home/UrlDatasource",
        insertUrl: "http://localhost:5077/Home/Insert",
        updateUrl: "http://localhost:5077/Home/Update",
        removeUrl: "http://localhost:5077/Home/Remove",
        crossDomain: true
    });

    //  TreeGrid initialization
    var treegrid = new ej.treegrid.TreeGrid({
        dataSource: dataManager,
        idMapping: 'TaskId',
        parentIdMapping: 'ParentId',
        hasChildMapping: 'isParent',
        treeColumnIndex: 1,
        height: 400,
        rowHeight: 50,
        allowRowDragAndDrop: true,

        editSettings: {
            allowAdding: true,
            allowEditing: true,
            allowDeleting: true,
            mode: 'Cell',
            newRowPosition: 'Below'
        },

        toolbar: [
            'Add',
            'Delete',
            'Update',
            'Cancel',
            'Indent',
            'Outdent'
        ],

        columns: [
            {
                field: 'TaskId',
                headerText: 'Task ID',
                width: 90,
                textAlign: 'Right',
                isPrimaryKey: true
            },
            {
                field: 'TaskName',
                headerText: 'Task Name',
                width: 180
            }
        ],

        //  Row Drag & Drop handling with server call
        rowDrop: function (args) {
            var tree = document.getElementsByClassName('e-treegrid')[0].ej2_instances[0];

            var fromId = tree.getCurrentViewRecords()[args.fromIndex][tree.idMapping];
            var toId = tree.getCurrentViewRecords()[args.dropIndex][tree.idMapping];
            var draggedData = args.data[0];

            var position = {
                dragidMapping: fromId,
                dropidMapping: toId,
                position: args.dropPosition
            };

            //  Cancel default drop action
            args.cancel = true;

            //  Send drop info to server
            var fetchObj = new ej.base.Fetch(
                "http://localhost:5077/Home/MyTestMethod",
                "POST"
            );

            fetchObj.data = JSON.stringify({
                value: draggedData,
                pos: position
            });

            fetchObj.send();

            fetchObj.onSuccess = function () {
                tree.refresh();
            };
        }
    });

    //  Render TreeGrid
    treegrid.appendTo('#TreeGrid');
</script>
